<footer class="row footer">
	<div class="column">
		<hr>
	</div>
</footer>
</section>
</main>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyAMWob4_sud-T4habdemHSvradZfuVUSm8",
    authDomain: "porchlight-3d66b.firebaseapp.com",
    projectId: "porchlight-3d66b",
    storageBucket: "porchlight-3d66b.appspot.com",
    databaseURL: "https://porchlight-3d66b.firebaseio.com",
    messagingSenderId: "371791228198",
    appId: "1:371791228198:web:bf82f98e86602df11125e7"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const db = getFirestore(app);

  // Get a list of poiints from your database
  async function getPoints(db) {
    const pointsCol = collection(db, 'points');
    console.log(pointsCol);
    // const citySnapshot = await getDocs(poiint);
    // const cityList = citySnapshot.docs.map(doc => doc.data());
    // return cityList;
  }
</script>
</body>
</html>
