<div class="column column-33 menu">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive.html">Archive</a></li>
            <li><a href="/suggest.html">Make a suggestion</a></li>
        </ul>
    </nav>
</div>
