<div class="column column-25 menu">
    <nav>
        <ul>
            <li><a class="tag-select" href="/index.html#all">All</a></li>
            <li><a class="tag-select" href="/index.html#music">Music</a></li>
            <li><a class="tag-select" href="/index.html#food">Food</a></li>
            <li><a class="tag-select" href="/index.html#beer">Beer</a></li>
        </ul>
    </nav>
</div>