<div class="column column-25 menu">
    <nav>
        <ul>
            <li><a class="tag-select" href="#all">All</a></li>
            <li><a class="tag-select" href="#music">Music</a></li>
            <li><a class="tag-select" href="#food">Food</a></li>
            <li><a class="tag-select" href="#beer">Beer</a></li>
        </ul>
    </nav>
</div>