<%- include('_header.ejs') -%>
<div class="row">
    <div class="column column-67 body">
        <% const sortable = {};
            for (const prop in posts) {
                if (prop === 'root') {
                    continue
                }
                const key = Date.parse(posts[prop].date);
                posts[prop].slug = prop;
                sortable[key] = posts[prop];
            }
        %>
        <%- include('_list_view.ejs') -%>
        <p style="text-align: right;"><a href="/archive.html">visit the archive for older posts</a></p>
    </div>
    <%- include('_menu.ejs') -%>
</div>

<%- include('_footer.ejs') -%>
