<% var title = 'Movies' %>
<%- include('_header.ejs') -%>
<div class="row">
    <div class="column column-67 body">
        <h2>Movies</h2>
        <% const sortable = {};
            for (const prop in posts) {
                if (prop === 'root') {
                    continue
                }
                if (!posts[prop].tags.includes("movies")) {
                    continue   
                }
                const key = Date.parse(posts[prop].date);
                posts[prop].slug = prop;
                sortable[key] = posts[prop];
            }
        %>
        <%- include('_list_view.ejs') -%>
    </div>
    <%- include('_menu.ejs') -%>
</div>

<%- include('_footer.ejs') -%>
