<% var title = 'Make a suggestion' %>
<%- include('_header.ejs') -%>
<div class="row">
    <div class="column column-67 body">
       <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfDXcqUzFWLX9TUj7qSqr8GCbU9tee9_xjSRTiP7rGu99UQLw/viewform?embedded=true" width="100%" height="677" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        <p>* We may turn this into a post, so hitting submit means we can do that. We'll give you a shout out though! maybe</p>
    </div>
    <%- include('_menu.ejs') -%>
</div>

<%- include('_footer.ejs') -%>
